/* src/App.css */

/* Styling for CompanyNavbar */
.d-flex {
  justify-content: space-between;
  align-items: center;
}

/* Styling for Pricing Header */
.pricing-header {
  padding: 3rem 0;
}

/* Styling for Price Card Container */
.card-deck {
  margin-top: 3rem;
}

/* Styling for Individual Price Card */
.card {
  border: none;
}

/* Styling for Price Card Header */
.card-header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 1rem;
}


/* Styling for Price Card body */
.card-body {
  text-align: center;
}

/* Styling for Price Card Title */
.pricing-card-title {
  font-size: 2.5rem;
}

/* Styling for Price Card Features */
.list-unstyled {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Styling for Price Card Button */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    align-items: flex-start;
  }
}
